:root {
    /* Não é possível usar as vars por causa do contexto, estamos em outra DOM */
    --gradient-bg-color: linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);
    --bg-color: #1F1F1F;
    --white-text: #fff;

    --normal-text: 20px;
    --section-title: 56px;
}