:root {
    /* Não é possível usar as vars por causa do contexto, estamos em outra DOM */
    --gradient-bg-color: linear-gradient(180deg, #15B9B9 0%, #3C1DFF 100%);

    --white-text: #fff;

    --small-text: 14px;
    --normal-subtitle: 29px;
}


.progress-line-box {
    width: fit-content;
}

.progress-description {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;

    color: var(--white-text);
}

.progress-description>.language {
    font-size: var(--normal-subtitle);
    line-height: 44px;
}

.progress-description>.language-value {
    font-size: var(--small-text);
    line-height: 21px;
}

.progress-line {
    height: 24.3px;
    border-radius: 50px;
    background: var(--gradient-bg-color);
    width: 89.684px;
}